.Home{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: black;
    
}

.home{
    background: linear-gradient(rgba(0, 0, 0, 0.192), rgba(0, 0, 0, 0.589)), url(../assets//freepik.avif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw !important ;
    height: 86vh !important;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 100%; */
    text-align: center;
    color: white;
    
}

.hometext{

    width: 70%;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(252, 245, 245, 0.836);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 20px;
      & h1{
        font-size: 50px;
        color: rgb(255, 102, 0);
      }


      & button{
        width: 30%;
        /* height: 100%; */
        padding: 20px;
        font-size: 20px;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color:  rgb(255, 102, 0);
        border: none;
        border-radius: 10px;
        color: white;
        
      }
}

.items{
    width: 90vw;
    min-width: 50px;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.item{
    width: 50vw;
    height: 900px;
    background-color: black !important;
    padding: 10px; 
    margin-top: 10px;

    & .img{
         width: 100%;
         height: 90%;
         background-color: #fff;
         overflow: hidden;
         object-fit: contain;
         aspect-ratio: 3/2;
    }

    & .text{
        width: 100%;
        height: 20%;
        text-align: center;
        text-transform: uppercase;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    & button{
        width: 50%;
        padding: 10px;
        font-size: 15px;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color:  rgb(255, 102, 0);
        border: none;
        border-radius: 10px;
        color: white;
    }
}



@media (max-width:420px) {
  

    /* .items{
        width: 100vw;
        gap: 80px;
    } */
}


@media (max-width:768px) {
    .hometext{
         /* width: 80%; */
         margin-top: 50px;
       
          & h1{
            font-size: 30px;
            color: rgb(255, 102, 0);
          }
        p{
        display: none;
        }
    
          & button{
            width: 60%;
            /* height: 10px; */
            font-size: 15px;
            
          }
    }

    .item{
      width: 70%;
      height: 100%;
    }
}

@media (max-width:425px) {
  .hometext{
    width: 80%;
    margin-top: 50px;
     & h1{
       font-size: 30px;
       color: rgb(255, 102, 0);
     }
   p{
   display: none;
   }
 & button{
       width: 80%;
       padding: 10px;
       }
}
  .items{
    display: block;
    /* background-color: #fff; */
  }

  .item{
    width: 100% !important;
  }
}


.text{
  width: 100%;
  background-color:red ;
}