.Menue{
    width: 100vw;
    height: 100vh;
    background-color: black;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.menu{
    width: 90%;
    /* padding: 10px; */
    height: 86%;
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    align-items: center;
    justify-content: center;
}
.MenuBox{
    width: 100%;
    height: 200px;
    /* box-shadow: 3px 3px 3px grey; */




    & .text{
        /* width: 100%;
        height: 20%;
        text-transform: uppercase;
        background-color: pink;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; */
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #fff;
        text-align: center;
    }
    
}

@media (max-width:320px) {
    .Menue{
        height: max-content;
    }
    .menu{
        grid-template-columns: repeat(1, 1fr);
    }
}